<h1 class="text-center text-muted my-3">アカウント詳細</h1>

<div class="my-4 py-4 bg-light shadow">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <%= image_tag @user.image, class:"rounded mx-auto d-block w-25" if @user.image.attached? %>
      <h2 class='text-center'><%= @user.name %></h2>
      <p class='text-center'><%= @user.email %></p>
      <% if @user.id == current_user.id  || current_user.admin==true %>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-3">
          <%= link_to '編集', edit_user_path(@user), class:"btn btn-primary" %>
          <%= link_to '削除', user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger" %>
        </div>
      <% end %>

      <div class="py-4">
      <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">投稿</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">いいね</button>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active border border-top-0" id="home" role="tabpanel" aria-labelledby="home-tab">
            <% @user.posts.each do |post| %>
              <div class="shadow p-3 mb-1 bg-body rounded">
                <div class="col-2 float-start">
                  <%= image_tag @user.image, class:"rounded-circle w-25" if @user.image.attached? %>
                </div>
                <div class="py-1">
                   <%= link_to post.content, post_path(post), class:"text-decoration-none text-black"%>
                </div>
              </div>
            <% end %>
          </div>
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <% @user.liked_posts.each do |post| %>
              <div class="shadow p-3 mb-1 bg-body rounded">
                <div class="col-1 float-start">
                  <%= image_tag post.user.image, class:"rounded-circle w-50" if post.user.image.attached? %>
                </div>
                <h5><%= link_to post.user.name, user_path(post.user),class:"text-decoration-none text-black"%></h5>
                <div class="fw-bold"><%= link_to post.title, post_path(post) %></div>
                <%= post.content%>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
